body{
    font: 14px/1.5 'PT Sans', Arial, Helvetica, sans-serif;
    color:#333;
}
h1{
    font-size: 2em;
}
.clear{
    *zoom:1;
}
.clear:before, .clear:after{
    content:'';
    display:table;
    line-height: 0;
}
.clear:after{
    clear:both;
}
.wrapper{
    width: 40%;
    min-width: 670px;
    margin: 20px auto;
}
#form-fields-container{
    border:1px solid #e3e3e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 10% 20px 10%;
}

#submit-container{
    background: #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 7px;
    height: 21px;
    padding: 10px 20px;
}
select{
    width: 100% !important;
}
input{
    width: 100% !important;
    border:1px solid #C1C1C1;
    padding: 0 5px;
    vertical-align: middle;
    line-height: 1.5;
}
label{
    display: inline-block;
    vertical-align: middle;
}
.check, .not-check{

    display: inline-block;
    vertical-align: bottom;
    vertical-align: middle;
    height: 24px;
    width: 200px;
}
.check{
    background: left center no-repeat;
}
.not-check{
    text-indent: 24px;
    color:red;
    background: left center no-repeat;
}

#submit{
    height: 21px;
    width: 153px;
    outline: none;
    cursor: pointer;
    border:none;
    padding: 0 !important;
    margin: 0 82px;
    background: no-repeat;
}

.pr-input {
    margin-bottom: 10px;
}

.pr-button {
    cursor: pointer;
    padding: 8px 24px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    outline: 0;
    background-color: #464648;
    color: #fff;
    text-decoration: none !important;
    font-size: medium;
    width: 40%;
}

.pr-button:hover {
    background-color: #353535;
    color: #fff !important;
}

.pr-div {
    text-align: center;
}

.pr-header {
    text-align: center;
}

.pr-error-label {
    width: 100%;
    text-align: center;
    color: #f00;
}
